* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}



.weather {
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    text-align: end;
    margin-top: 2vh;
    padding: 0 0 5rem 0;

}

.uvIndex {
    display: flex;
    width: 50%;
    height: 40px;
    justify-content: space-around;
  
    box-shadow: 0 1px rgb(186, 188, 188);
}

.humidity {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    box-shadow: -1px 1px rgb(186, 188, 188);
}


.windSpeed {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    box-shadow: -1px 1px rgb(186, 188, 188);
 
}

.temperature {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 1px rgb(186, 188, 188);

}

.weather-feelslike_c {
    margin-top: 2vh;
    text-align: start;
    margin-left: 2vh;
    font-size: xx-large;
    font-size: 2.5rem;
}



/* icon  re...*/
.icon-weather {
    width: 3vh;
    height: 3vh;
}




/* icon */
#icon-uvIndex {
    width: 3vh;
    height: 3vh;

}


#icon-humidity {
    width: 3vh;
    height: 3vh;

}

#icon-temperature {
    width: 3vh;
    height: 3vh;

}

#icon-windSpeed {
    width: 3vh;
    height: 3vh;

}



.input {
    padding-left: 45%;
}



/* app */
.display-data {


    height: 86vh;
    color: rgba(32, 18, 18, 0.909);
    image-rendering: pixelated;
    background-size: cover;
}




.messageError {
    width: 20%;
    height: 10%;
}

.messageError-content {
    padding-top: 1vh;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    text-align: center;
    position: relative;
}

.result-weather {
    width: 40%;
    height: 40%;
    background-color: aliceblue;
    position: absolute;
    left: 32%;
    top: 35%;
    text-align: center;
    border-radius: 1rem;
}

.inputLocation {
    width: 20%;
    height: 4vh;
    border-radius: 3rem;
    border: 0px white solid;

}


.search {
    width: 7%;
    height: 4vh;
    border-radius: 3rem;
    border: 0px white solid;
}

.location {
    margin-top: 1vh;
}